{% extends 'base.html' %}

{% block title%}
  About
{% endblock %}

{% block nav3 %} active {% endblock %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h3>
        About
      </h3>
    </div>

    <div class="bs-docs-section">
      <div class="bs-component">
        <div class="row">
          <div class="col-lg-8 col-md-10 col-sm-12">
            <p class="text-justify">
              {{ result['about'] }}
            </p>
          </div>
        </div>
      </div>
    </div>

    

  </div>
{% endblock %}















<li class="nav-item">
  <a class="nav-link" target="_blank" rel="noopener" href="https://www.linkedin.com/in/515ek/">
    <i class="fab fa-linkedin-in fa-fw ">
    </i>
    LinkedIn
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" target="_blank" rel="noopener" href="https://www.kaggle.com/v2surya">
    <i class="fab fa-kaggle fa-fw">
    </i>
    Kaggle
  </a>
</li>