{% extends 'base.html' %}

{% block title%}
  Projects
{% endblock %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>
        Projects
      </h1>
    </div>

    <div class="bs-docs-section">

      <div class="bs-component">
        <div class="row">
          <div class="col-lg-6 col-md-5 col-sm-6">
            <div class="card border-success mb-3" >
              <div class="card-header">Live project</div>
              <div class="card-body">
                <h4 class="text-justify card-title">Twitter Sentiment Analysis</h4>
                <p class="text-justify card-text">Big Data and Data Analytics </p>
              </div>
            </div>
          </div>
  
        </div>
      </div>

      <div class="bs-component">
        <div class="row">
          <div class="col-lg-6 col-md-5 col-sm-6">
            <div class="card border-secondary mb-3" >
              <div class="card-header">client project</div>
              <div class="card-body">
                <h4 class="text-justify card-title">Develop ML model to categorize web URLs using NLP </h4>
                <p class="text-justify card-text">A large telecom operator uses monitoring probes to capture details from  network traffic resulting from its subscribers’ internet activity. Probes use DPI  (Deep Packet Inspection) to capture URL of webpages accessed by subscribers in  real-time. These URLs can be assigned to predefined categories based on the  user’s activity w.r.t categories, here by the operator can use this information for  better personalized offerings and Value-Added Services. </p>
              </div>
            </div>
          </div>
  
          <div class="col-lg-6 col-md-5 col-sm-6">
            <div class="card border-secondary mb-3" >
              <div class="card-header">client project</div>
              <div class="card-body">
                <h4 class="text-justify card-title">Rule Based System to Check trade Documents using ML model </h4>
                <p class="text-justify card-text">Big Data and Data Analytics </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="bs-component">
        <div class="row">
          <div class="col-lg-6 col-md-5 col-sm-6">
            <div class="card border-secondary mb-3" >
              <div class="card-header">Academic project</div>
              <div class="card-body">
                <h4 class="text-justify card-title">Machine Learning Approach to find Poor Answers </h4>
                <p class="text-justify card-text">Big Data and Data Analytics </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-5 col-sm-6">
            <div class="card border-secondary mb-3" >
              <div class="card-header">Academic project</div>
              <div class="card-body">
                <h4 class="text-justify card-title">Product review system using Deep Learning </h4>
                <p class="text-justify card-text">Big Data and Data Analytics </p>
              </div>
            </div>
          </div>
  
        </div>
      </div>

    </div>

  </div>
{% endblock %}















<li class="nav-item">
  <a class="nav-link" target="_blank" rel="noopener" href="https://www.linkedin.com/in/515ek/">
    <i class="fab fa-linkedin-in fa-fw ">
    </i>
    LinkedIn
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" target="_blank" rel="noopener" href="https://www.kaggle.com/v2surya">
    <i class="fab fa-kaggle fa-fw">
    </i>
    Kaggle
  </a>
</li>